
.finance-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.finance-document-grid {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.2fr 0.1fr;
  gap: 2rem;
}

@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {

}

/* Планшет 991px */
@media (max-width: 61.938em) {
  .close-component {
    display: none;
  }
}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .finance-grid {
    grid-template-columns: 1fr;
  }

  .finance-document-grid {
    grid-template-columns: 1fr;
  }

}
