.menu {
  top: 3.5rem;
  right: 0;
  background: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(30px);
  transition: opacity .3s ease,
  transform .3s ease,
  visibility .3s ease;
}


.menu :hover {
  background-color: rgb(219 234 254);
}

.menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.menu-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.active {
  background-color: black;
  color: white;
}

@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {

}

/* Планшет 991px */
@media (max-width: 61.938em) {
  .close-component {
    display: none;
  }
}

/* Телефон 767px */
@media (max-width: 47.938em) {

}
