<div class="flex bg-linen flex-grow">

  <app-cp-panel class="close-component" [isActive]="isActive()"></app-cp-panel>

  <div class="flex flex-col width-full">

    <app-cp-header class="bg-white"></app-cp-header>

    <div class="flex width-full justify-center">

      <div class="flex padding-24 max-width-1400 width-full flex-col">

        <div class="flex text-white bg-black width-full padding-20 radius-10 between">

          <div class="flex">

            <div class="flex items-center">
              <div class="flex size-10 radius-50p" [class.bg-green]="isActive()" [class.bg-muted]="!isActive()"></div>
            </div>

            <div class="flex flex-col margin-left-10 height-70 justify-center">
              @if (isActive()) {
                <div class="flex font-size-20 font-weight-700">Принимаем заказы</div>
                <div class="flex font-size-16">На линии 12 курьеров</div>
              } @else {
                <div class="flex font-size-20 font-weight-700">Не принимаем заказы</div>
              }

            </div>

          </div>

          <div class="flex items-center">
            <label class="switch">
              <input
                type="checkbox"
                class="switch-input"
                [checked]="isActive()"
                (change)="toggleState($event)">
              <span class="switch-slider"></span>
            </label>
          </div>

        </div>

        <div class="grid-dashboard margin-top-10 font-size-18">

          <div class="flex bg-white radius-10 padding-10 flex-col">
            <div class="flex">Сегодня</div>
            <div class="flex font-size-24 font-weight-700 margin-top-20">12 480 ₽</div>
            <div class="flex margin-top-20">Доход компании</div>
          </div>

          <div class="flex bg-white radius-10 padding-10 flex-col">
            <div class="flex">Доставок</div>
            <div class="flex font-size-24 font-weight-700 margin-top-20">18</div>
            <div class="flex margin-top-20">3 выполняются</div>
          </div>

          <div class="flex bg-white radius-10 padding-10 flex-col">
            <div class="flex">На линии</div>
            <div class="flex font-size-24 font-weight-700 margin-top-20">12</div>
            <div class="flex margin-top-20">из 16 курьеров</div>
          </div>

          <div class="flex bg-white radius-10 padding-10 flex-col">
            <div class="flex">Рейтинг</div>
            <div class="flex font-size-24 font-weight-700 margin-top-20 items-center">

              <div class="flex">4.96</div>

              <div class="flex margin-left-05">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                     fill="#000000">
                  <path d="m183-51 79-338L-1-617l346-29 135-319 135 319 346 29-263 228 79 338-297-180L183-51Z" />
                </svg>
              </div>

            </div>
            <div class="flex margin-top-20">428 оценок</div>
          </div>

        </div>


        <div class="flex margin-top-10 gap-10 column-laptop">


          <div class="flex flex-2-5 bg-white radius-10 flex-col padding-10">

            <div class="flex font-size-20 flex-col-component flex-col">
              <div class="flex font-weight-700">Новые заказы</div>
              <div class="flex between font-size-16">
                <div class="close-phone margin-top-10">Доставьте продукты покупателю</div>
                <div routerLink="/orders" class="flex margin-top-10 pointer">
                  <div class="flex items-center justify-center">Все заказы</div>
                  <div class="flex items-center justify-center margin-left-10">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#000000">
                      <path d="m440-200 137-240H80v-80h497L440-760l440 280-440 280Z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-col margin-top-20">

              <div class="order-grid line-order">

                <div class="flex justify-center-phone">

                  <div class="flex font-size-16 flex-col items-center-phone">
                    <div class="flex font-size-18 font-weight-700">Забрать</div>
                    <div class="flex margin-top-10">ТЦ «Сити Молл»</div>
                    <div class="flex margin-top-10">ул. Пушкина, 241Б</div>
                  </div>

                </div>

                <div class="flex justify-center-phone">

                  <div class="flex font-size-16 flex-col items-center-phone">
                    <div class="flex font-size-18 font-weight-700">Доставить</div>
                    <div class="flex margin-top-10 flex-col items-center-phone">
                      <div class="flex">ул. Есенина, 15</div>
                      <div class="flex margin-top-10">п2 - кв. 555</div>
                    </div>
                  </div>

                </div>

                <div class="flex justify-center">
                  <div class="flex font-size-18 font-weight-700 items-center">1 240 ₽</div>
                </div>

                <div class="flex justify-center items-center">
                  <div class="flex button-primary height-content padding-button">Принять</div>
                </div>

              </div>

              <div class="order-grid line-order margin-top-20">

                <div class="flex justify-center-phone">

                  <div class="flex font-size-16 flex-col items-center-phone">
                    <div class="flex font-size-18 font-weight-700">Забрать</div>
                    <div class="flex margin-top-10">Столичный</div>
                    <div class="flex margin-top-10">ул. Комсомольская, 241Б</div>
                  </div>

                </div>

                <div class="flex justify-center-phone">

                  <div class="flex font-size-16 flex-col items-center-phone">
                    <div class="flex font-size-18 font-weight-700">Доставить</div>
                    <div class="flex margin-top-10 flex-col items-center-phone">
                      <div class="flex">ул. Есенина, 15</div>
                      <div class="flex margin-top-10">п2 - кв. 555</div>
                    </div>
                  </div>

                </div>

                <div class="flex justify-center">
                  <div class="flex font-size-18 font-weight-700 items-center">1 240 ₽</div>
                </div>

                <div class="flex justify-center items-center">
                  <div class="flex button-primary height-content padding-button">Принять</div>
                </div>

              </div>

              <div class="order-grid line-order margin-top-20">

                <div class="flex justify-center-phone">

                  <div class="flex font-size-16 flex-col items-center-phone">
                    <div class="flex font-size-18 font-weight-700">Забрать</div>
                    <div class="flex margin-top-10">Мегаберёзка</div>
                    <div class="flex margin-top-10">пр. Мира, 420</div>
                  </div>

                </div>

                <div class="flex justify-center-phone">

                  <div class="flex font-size-16 flex-col items-center-phone">
                    <div class="flex font-size-18 font-weight-700">Доставить</div>
                    <div class="flex margin-top-10 flex-col items-center-phone">
                      <div class="flex">ул. Есенина, 15</div>
                      <div class="flex margin-top-10">п2 - кв. 555</div>
                    </div>
                  </div>

                </div>

                <div class="flex justify-center">
                  <div class="flex font-size-18 font-weight-700 items-center">1 240 ₽</div>
                </div>

                <div class="flex justify-center items-center">
                  <div class="flex button-primary height-content padding-button">Принять</div>
                </div>

              </div>

            </div>


          </div>


          <div class="flex flex-1 flex-col">

            <div class="flex bg-white padding-10 radius-10 flex-col">

              <div class="flex between items-center">

                <div class="flex font-size-20 font-weight-700">Команда</div>

                <div routerLink="/couriers" class="flex margin-top-10 pointer">
                  <div class="flex items-center justify-center">Все заказы</div>
                  <div class="flex items-center justify-center margin-left-10">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#000000">
                      <path d="m440-200 137-240H80v-80h497L440-760l440 280-440 280Z" />
                    </svg>
                  </div>
                </div>

              </div>

              <div class="flex margin-top-20">

                <div class="stats-list width-full">
                  @for (item of stats(); track item.label) {
                    <div class="stat-item">
                      <div class="stat-info font-size-18">
                        <div class="flex">{{ item.label }}</div>
                        <div class="flex font-weight-700">{{ item.count }}</div>
                      </div>

                      <!-- Контейнер для полоски -->
                      <div class="bar-track">
                        <!-- Желтая полоска с динамической шириной -->
                        <div
                          class="bar-fill"
                          [style.width]="getBarWidth(item.count)">
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>

            </div>

            <div class="flex bg-white padding-10 radius-10 flex-col font-size-18 margin-top-20">
              <div class="flex">За эту неделю</div>
              <div class="flex font-size-20 font-weight-700">84 620 ₽</div>
              <div class="flex margin-top-20">96 завершённых доставок</div>
              <div routerLink="/finance"
                   class="flex margin-top-20 justify-center items-center button-padding radius-10 bg-gray font-size-18 font-weight-700 pointer">
                Открыть финансы
              </div>
            </div>


            <!--            <div class="flex flex-grow"></div>-->


          </div>

        </div>

      </div>

    </div>

  </div>


</div>

