
.line-order {
  padding-bottom: 30px;
  border-bottom: 2px solid #e2e2e2;
}

.stats-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Трек для полоски */
.bar-track {
  width: 100%;
  height: 8px;
  background-color: transparent; /* Если нужен фоновый серый трек, можно задать e.g. #f0f0f0 */
  border-radius: 4px;
}

/* Сама желтая полоска */
.bar-fill {
  height: 100%;
  background-color: #ffd600; /* Желтый цвет как на макете */
  border-radius: 4px;
  transition: width 0.3s ease; /* Плавная анимация при изменении размера */
}


.order-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  gap: 2rem;
}

/* Контейнер тумблера */
.switch {
  --switch-width: 4.6rem;
  --switch-height: 2.4rem;
  --slider-size: 1.8rem;

  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

/* Скрываем дефолтный чекбокс */
.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Фон тумблера в выключенном состоянии */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  border-radius: var(--switch-height);
}

/* Круглый бегунок */
.switch-slider::before {
  content: "";
  position: absolute;
  height: var(--slider-size);
  width: var(--slider-size);
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: white;
  transition: transform 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

/* Стили при включении (checked) */
.switch-input:checked + .switch-slider {
  background-color: #4cd964; /* Зеленый цвет активации */
}

/* Смещение бегунка вправо при включении */
.switch-input:checked + .switch-slider::before {
  transform: translateX(calc(var(--switch-width) - var(--slider-size) - 0.6rem));
}

/* Стили для фокуса (для доступности с клавиатуры) */
.switch-input:focus-visible + .switch-slider {
  outline: 0.2rem solid #007aff;
  outline-offset: 0.2rem;
}

.grid-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}


/* Телефон от 320px "Этот breakpoint просто показывает в среде разработчика данную точку для удобства " */
@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {

  .grid-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* Планшет 991px */
@media (max-width: 61.938em) {

  .close-component {
    display: none;
  }


}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .order-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .grid-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .flex-col-component {
    flex-direction: column;
  }

}
