
.orders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.line {
  top: 135px;
  left: 19px;
  width: 0.2rem;
  height: 166px;
}

.bg-yellow-component {
  background-color: var(--color-6);
}

.bg-yellow-component:hover {
  background-color: var(--color-7);
}

.flex-shrink {
  flex-shrink: 0;
}

@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {

  .orders {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

/* Планшет 991px */
@media (max-width: 61.938em) {

}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .orders {
    display: grid;
    grid-template-columns: 1fr;
  }

  .flex-col-component {
    flex-direction: column;
  }

  .margin-top-20-component {
    margin-top: 2rem;
  }

  .font-size-18-component {
    font-size: 1.6rem;
  }

  .font-size-20-component {
    font-size: 1.8rem;
  }

  .margin-left-20-component {
    margin-left: 0;
  }

  .margin-top-10-component {
    margin-top: 0;
  }

}
