
.transport {
  position: absolute;
  z-index: 2;
  bottom: -1rem;
  right: -7.6rem;
  transform: translate(-50%, -50%);
}

.car {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.target-b {
  position: absolute;
  z-index: 2;
  right: 15%;
  bottom: 18%;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: white;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.name-user {
  position: absolute;
  z-index: 2;
  bottom: -3.5rem;
  left: 14.2rem;
  transform: translate(-50%, -50%);
}


.price {
  position: absolute;
  z-index: 2;
  top: 5.6rem;
  right: -13.2rem;
  transform: translate(-50%, -50%);
}


.target-a {
  position: absolute;
  z-index: 2;

  top: 30%;
  left: 40%;

  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;

  color: white;
  background-color: #000;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}


.parent {
  width: 100%;
}

.square {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #eff1ec;
  overflow: hidden;
  border-radius: 1rem;
}

.square::before,
.square::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 141.5%;
  height: 2rem;
  background-color: #dfe2db;
  transform-origin: center;
}

.square::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.square::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.circle {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 60%;
  aspect-ratio: 1 / 1;
  border: 1rem solid #FFDC26;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}


.font-size-20-component {
  font-size: 2rem;
}

.font-size-16-component {
  font-size: 1.6rem;
}

.padding-15-component {
  padding: 1.5rem;
}

.padding-10-component {
  padding: 1rem;
}

.font-size-70-component {
  font-size: 7rem;
}

/* Телефон от 320px "Этот breakpoint просто показывает в среде разработчика данную точку для удобства " */
@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {

  .price {
    top: 4.8rem;
    right: -11.1rem;
  }

  .name-user {
    bottom: -2.2rem;
    left: 12.2rem;
  }


  .font-size-20-component {
    font-size: 1.8rem;
  }

  .font-size-16-component {
    font-size: 1.4rem;
  }

  .padding-15-component {
    padding: 1rem;
  }

  .padding-10-component {
    padding: 0.5rem;
  }

}

/* Планшет 991px */
@media (max-width: 61.938em) {


  .flex-col-component {
    flex-direction: column;
  }


  .font-size-20-component {
    font-size: 2rem;
  }

  .font-size-16-component {
    font-size: 1.6rem;
  }

  .padding-15-component {
    padding: 1.5rem;
  }

  .padding-10-component {
    padding: 1rem;
  }

  .price {
    top: 5.7rem;
    right: -13.2rem;
  }


  .name-user {
    left: 14.4rem;
    bottom: -3rem;
  }

}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .font-size-70-component {
    font-size: 3.4rem;
  }

  .flex-col-767-component {
    flex-direction: column;
  }

  .border-right-2-component {
    border-right: 0;
  }

  .margin-top-20-component {
    margin-top: 2rem;
  }

  .items-center0-component {
    align-items: center;
  }

  .padding-left-30-component {
    padding-left: 3rem;
  }

  .margin-left-10-component {
    margin-left: 0;
  }

  .price {
    top: 3.8rem;
    right: -9.3rem;
  }

  .name-user {
    bottom: -1.9rem;
    left: 9.8rem;
  }

  .transport {
    bottom: -8rem;
    right: -1.7rem;
  }

  .padding-15-component {
    padding: 0.8rem;
  }


  .font-size-20-component {
    font-size: 1.4rem;
  }

  .font-size-16-component {
    font-size: 1.2rem;
  }

  .padding-10-component {
    padding: 0.5rem;
  }

  .margin-top-10-component {
    margin-top: 1rem;
  }

}
